{% extends 'base.html' %}

{% block content %}
	<!-- Page Wrapper -->
    <div id="wrapper">
		{% include 'sidebar.html' %}
		 <div id="content-wrapper" class="d-flex flex-column">


            <!-- Main Content -->
            <div id="content">
				{% include 'navbar.html' %}
				<div class="container-fluid">
	   				<div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">About</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
				</div>
			</div>
			<!-- End of Main Content -->

            <!-- Footer -->
			{% include 'footer.html' %}
            <!-- End of Footer -->

		</div>
	</div>




{% endblock %}